*{
    box-sizing: border-box; 
    /* margin o padin no crecen mas del tamaño q le doy */
}

body{
    font-family: "roboto", sans-serif;
    margin: 0;

}


h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 1.7em;}
p{font-size: 1.25em;}
ul{list-style: none;} /*sacar puntitos*/
li{font-size: 1.25em;}


button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px; /*borde redondo*/
    border: 2px solid rgb(0, 0, 0,0.5); /*borde clarito*/
    box-shadow: 2px 2px 10px rgb(0, 0, 0,0.5); /*sombra*/
    color: white; /*color letras*/
    background-color: brown; /*color fondo boton*/
}

button:hover{
    background-color: rgb(100, 17, 17); /* al pasar el cursor se oscurece*/
}

.container{
    max-width: 1400px; /*se centra el contenido al agrandar la pantalla*/
    margin: auto;
}

/*.color-acento{ color: rgb(179, 77, 19);}*/

header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    margin: 0;
    padding: 25px 30px; /*el 1er valor arriba y abajo, el 2do a los costados*/
    font-weight: bold;
    color: brown;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: row; /*las cosas se ordenan en columna*/
    align-items: center; /*centrar cositas*/
    justify-content: space-between;
}

header .nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 0px;
    padding-right: 20px;
}

header a{
    padding: 5px 12px;
    text-decoration: none; /*sacar subrayado*/
    font-weight: bold;
    color: black;
}

header a:hover{
    color: brown;
}

#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh; /*cambia en base a la altura de mi pantalla*/
    color: white;
    background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/pngtree-female-programmer-in-front-of-computer-screens-picture-image_2734159.jpg");
    background-repeat: no-repeat;
    background-size: cover; /*todo el espacio disponible*/
    background-position: center center; /*siempre centrada*/
}

#banner h1{
    color: white;
}

#Sobre-Mi{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh; /*cambia en base a la altura de mi pantalla*/
    color: white;
    background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/can.jpeg");
    background-repeat: no-repeat;
    background-size: cover; /*todo el espacio disponible*/
    background-position: center center; /*siempre centrada*/
}

#Sobre-Mi .container{
    text-align: center;
    padding: 350px 50px;     
}
#Sobre-Mi h2{
    margin-top: 0;
    font-size:3em ;
}

#Experiencia-Laboral{
    background-color: rgb(53, 16, 16);
    color: white;
    text-align: center;
}
#Experiencia-Laboral .container{
    padding: 150px 50px;
}
#Experiencia-Laboral h2{
    margin-top: 0;
    font-size: 3em;
}
#Experiencia-Laboral p{
    display: none;
}
#Experiencia-Laboral .ExpL{
    padding: 50px;
    margin: 12px;
    border-radius: 25px;
}
.ExpL{
    background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
}
#Redes{
    background-color: rgb(214, 204, 204);
    color: white;
    text-align: center;
}
#Redes .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    padding: 50px 12px;
}
#Redes h2{
    margin: 0;
    padding: 25px 30px; /*el 1er valor arriba y abajo, el 2do a los costados*/
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 1.6em;
}

#Redes li{
    margin: 16px 0px;
    font-weight: bold;
}

footer{
    background-color: rgb(230,230,230);
}
footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}
footer .container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end; /*pegado abajo*/
}

